<template>
    <section class="container">
        <div class="background"></div>
        <div class="inner">
            <h1 class="title">
                Gab
            </h1>
            <h2 class="subtitle">
                Développeur Web Developer
            </h2>
            <p class="content">
                Je suis toujours ouvert aux nouvelles opportunités, alors n'hésitez pas à me <a class="contact" href="mailto:xtgzue.ho70x@passmail.net">contacter</a>.
                I'm always open for new opportunities, so don't hesitate to <a class="contact" href="mailto:xtgzue.ho70x@passmail.net">contact</a> me.
            </p>
        </div>
    </section>
</template>

<script>
    export default {}
</script>

<style>
    .container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        position: relative;
        background-color: #2b2b2b;
        width: 100%;
        padding: 20px;
    }

    .inner {
        z-index: 10;
        max-width: 100%;
    }

    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #2b2b2b;
        transform: scale(2) perspective( 150vw ) rotateX(50deg) rotateY( 10deg ) rotateZ(-25deg);
    }

    .background:before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        filter: blur(1.75pt) grayscale(0.55);
        background-color: #2b2b2b;
        background-image: url(/background-optimized.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }

    .title {
        font-family: 'Source Code Pro', monospace;
        font-weight: 900;
        display: block;
        font-size: 60pt;
        line-height: 50pt;
        color: #E8A75D;
        text-shadow: 2px 1px 3px rgba(0,0,0,0.5);
    }

    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 22pt;
        color: #E8A75D;
        margin: 26px auto 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .content {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        margin: 0 auto;
        font-size: 16pt;
        max-width: 600px;
        margin-bottom: 12px;
        color: #e1dfd0;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .contact {
        position: relative;
        display: inline-block;
        transition: color 100ms;
        text-decoration: none;
        color: #E8A75D;
    }

    .contact {
        outline: none;
    }

    .contact:before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        bottom: -1px;
        background-color: #bf8c51;
        transition: bottom 100ms, background-color 100ms, transform 100ms;
        transform: scale(1);
        box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    .contact:hover, .contact:active, .contact:focus {
        color: #A365DA;
    }

    .contact:hover:before, .contact:active:before, .contact:focus:before {
        bottom: -4px;
        background-color: #644680;
        transform: scale(1.025);
    }

    @media (max-width: 660px) {
        .title {
            font-size: 48pt;
            line-height: 40pt;
        }

        .subtitle {
            font-size: 18pt;
        }
    }

    @media (max-width: 480px) {
        .title {
            font-size: 32pt;
            line-height: 28pt;
        }

        .subtitle {
            font-size: 14pt;
            letter-spacing: 0;
            margin: 14px auto;
        }

        .content {
            font-size: 12pt;
        }
    }
</style>
